body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

header {
  margin-bottom: 10px;
}

.todo-app {
  max-width: 550px;
  position: relative;
  margin: 0 auto;
}

.form-signin {
  width: 100%;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.input-group {
  border-radius: 0;
}

.input-group-addon {
  border-radius: 0;
}

.list-group-item {
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.btn-add {
  padding: 11px 10px;
}

.btn-delete {
  cursor: pointer;
  font-size: 18px;
}

#draggableList .list-item-handle {
  cursor: move;
}

.completed {
    color: #d9d9d9;
    text-decoration: line-through;
}

.alert-saved {
  margin-top: 20px;
}

.float-wrap {
  float: right;
}